<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4" version="4.6.4" targetFramework="net46" developmentDependency="true" />
  <package id="Antlr4.CodeGenerator" version="4.6.4" targetFramework="net46" developmentDependency="true" />
  <package id="Antlr4.Runtime" version="4.6.4" targetFramework="net46" />
  <package id="Antlr4.Runtime.Standard" version="4.7.1.1" targetFramework="net46" />
  <package id="DynamicInterop" version="0.7.4" targetFramework="net46" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net46" />
  <package id="SDSLite" version="1.4" targetFramework="net46" />
</packages>